{% extends "templates/layout.jinja2" %}
{% block body %}
<h2>Create a Journal Entry</h2>
<form action="" method="POST">
{% for field in form %}
  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
  <p>{{ form.title.label }}:  {{  form.title }} </p>
  <p>{{ form.body.label }}: {{ form.body(cols="55", rows="20") }} </p>
  {{ form.id }}
    <p><input type="submit" name="submit" value="Submit" /></p>
</form>
{% endblock %}